main{
    width: 98%;
    margin: 0 auto;
    .main-bg{
        border: 3px red solid;
        height: 20vw;
        width: 100%;
        // -webkit-mask-image:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        img{
            width: 100%;
        }
    }

}